{% extends 'base.html' %}

{% block content %}
<h2 class="text-3xl font-semibold mb-6">¿Cómo puedes ayudar?</h2>

<ul class="list-disc list-inside space-y-2">
    <li>Si ves a un gato o perro en las instalaciones, reportalo desde le aprtado Reportar para estar al tanto.</li>
    <li>Únete como voluntario para alimentar o cuidar temporalmente a los animales, contactanos mediante el apartado de Contacto.</li>
    <li>Comparte esta iniciativa en tus redes sociales.</li>
    <li>Dona alimento, medicamentos o materiales para su cuidado, contactanos mediante el apartado de Contacto.</li>
    <li>Participa en campañas de esterilización y concientización, contactanos mediante el apartado de Contacto.</li>
</ul>
{% endblock %}
